/* Custom properties   */

:root{
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* fonts size */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;


   /* fonts family */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

}@media (min-width: 35em) {
    :root {
         --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}



/* Reset The Elements so i can Manipulate Them Better       */

/* 1- Box Sizing */

*, 
*::before ,
*::after{
box-sizing: border-box;
}

/* 2- Rest Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* Default Body */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}

/* Make Images Easier To Manipulating With */

img,
picutre{
    max-width: 100%;
    display: block;
}

/* Make Form Elements Easier To Manipulating With */
input,
button,
textarea,
select {
    font: inherit;
}

/* Utility Classes */

/* General  */

.flex{
    display: flex;
    gap: var(--gap ,1rem);
}

.grid {
    display: grid;
    gap: var(--gap ,1rem);
}
.d-block{
    display: block;
}
/* a lot specification on first element on project */

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container{
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}
.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
}
.grid-container * {
    max-width: 50ch;

}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
    .grid-container > *:first-child {
        grid-column: 2;
    }

    .grid-container > *:last-child {
        grid-column: 3;
    }
    
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
}





/* Screen Read Only The Element Not Showing The Element On Page*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors  */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title{
 font-size: var(--fs-500);
 font-family: var(--ff-sans-cond);
 letter-spacing: 4.7px;
 text-transform: uppercase;
 text-decoration: none;
}

.numbered-title span{
margin-right: .5em;
font-weight: 700;
color: hsl( var(--clr-light) /.25);
}


.large-button {
font-size: 2rem;
position: relative;
display: inline-grid;
place-items: center;
padding: 0 2em;
z-index: 1;
aspect-ratio: 1; 
border-radius: 50%;
text-decoration: none;
}

.large-button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    background-color: hsl(var(--clr-white)/.15);
    transition: opacity 500ms linear , transform 500ms ease-in;
}

.large-button:hover::after,
.large-button:focus::after{
    transform: scale(1.5);
    opacity: 1;
}


.primary-navigation{
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    /* padding & margin  0 So Delete UL Default Standers */
    padding: 0;
    margin: 0;
}
.primary-navigation a{
    text-decoration: none;
}
.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.underline-indicators > *{
     cursor: pointer;
    padding: 1rem 0;
    border: 0; /*So style Be Good with Button */
    border-bottom: .2rem solid hsl( var(--clr-white)/0 ) ;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus{
    border-color: hsl(var(--clr-white)/.25);
}
.underline-indicators > .active,
.underline-indicators > [aria-selected="true"]{
    border-color: hsl(var(--clr-white)/1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}

/* ------------------- */
/* Page specific       */
/* ------------------- */
body{
 background-size: cover;
 background-position: bottom center;
}
/* home */

.home{
    background-image: url(./assets/home/background-home-mobile.jpg) ;
}

@media (min-width: 35rem){
    .home{
        background-position: center center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem){
    .home{
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}